In [1]:
import pandas as pd

# Load the data from CSV file
df = pd.read_csv('source files/ACSST1Y2021.S2503-2023-04-21T042648.csv')

# Filter the columns containing "Renter-occupied housing units!!Estimate"
renter_columns = [col for col in df.columns if "Renter-occupied housing units!!Estimate" in col]
renter_df = df[['Label (Grouping)'] + renter_columns]

# Remove extra spaces from the 'Label (Grouping)' column and rename it to 'households'
renter_df['Label (Grouping)'] = renter_df['Label (Grouping)'].str.strip()
renter_df = renter_df.rename(columns={'Label (Grouping)': 'households'})

# Filter rows based on the specified text chunks
desired_labels = [
    'Less than $5,000',
    '$5,000 to $9,999',
    '$10,000 to $14,999',
    '$15,000 to $19,999',
    'Occupied housing units',
    '$20,000 to $24,999',
    '$25,000 to $34,999',
    '$35,000 to $49,999',
    '$50,000 to $74,999',
    '$75,000 to $99,999',
    '$100,000 to $149,999',
    '$150,000 or more'

]

filtered_df = renter_df[renter_df['households'].isin(desired_labels)]

# Convert string values with commas to integers
for col in filtered_df.columns[1:]:
    filtered_df[col] = filtered_df[col].apply(lambda x: int(x.replace(',', '')) if isinstance(x, str) else x)

# Create a DataFrame without the 'Occupied housing units' row for the total calculation
calculation_df = filtered_df[filtered_df['households'] != 'Occupied housing units']

# Calculate the total for each column (except the first one) and create a new row with the "total" label
total_row = pd.DataFrame({'households': 'Total'}, index=[0])
for col in calculation_df.columns[1:]:
    total_row[col] = calculation_df[col].sum()

# Append the total row to the filtered DataFrame
filtered_df = pd.concat([filtered_df, total_row], ignore_index=True)

# Find the index of the "Total" and "Occupied housing units" rows
total_index = filtered_df.index[filtered_df['households'] == 'Total'][0]
occupied_index = filtered_df.index[filtered_df['households'] == 'Occupied housing units'][0]

# Calculate the percentage for each column (except the first one) and create a new row with the "percentage" label
percentage_row = pd.DataFrame({'households': 'Percentage under 24,999'}, index=[0])
for col in filtered_df.columns[1:]:
    percentage = (filtered_df.loc[total_index, col] / filtered_df.loc[occupied_index, col]) * 100
    percentage_row[col] = round(percentage)

# Append the percentage row to the filtered DataFrame
filtered_df = pd.concat([filtered_df, percentage_row], ignore_index=True)

# Strip out the ", New Jersey!!Renter-occupied housing units!!Estimate" from each column header except the first
filtered_df.columns = ['households'] + [col.replace(', New Jersey!!Renter-occupied housing units!!Estimate', '') for col in filtered_df.columns[1:]]
filtered_df.columns = ['households'] + [col.replace('!!Renter-occupied housing units!!Estimate', '') for col in filtered_df.columns[1:]]


# Format the numbers as strings with commas (except for the first column)
formatted_df = filtered_df.copy()
formatted_df.iloc[:, 1:] = formatted_df.iloc[:, 1:].applymap(lambda x: '{:,}'.format(x))


# Strip the word "County", remove spaces, and change the remaining text to uppercase
formatted_df.columns = ['households'] + [col.replace(' County', '').upper() for col in formatted_df.columns[1:]]


# Transpose the DataFrame
transposed_df = formatted_df.T


# Update the index with the desired text
transposed_df.index = transposed_df.index.to_series().replace({'households': 'COUNTY',
                                                               'Total': 'TotalBelow25000',
                                                               'Occupied housing units': 'Occupied rental housing units'})

# Find and replace the desired text in the transposed DataFrame
transposed_df = transposed_df.replace({'households': 'COUNTY',
                                       'Total': 'TotalBelow25000',
                                       'Occupied housing units': 'Occupied rental housing units'})


# Save the resulting DataFrame to a CSV file
transposed_df.to_csv('renter_household_income_filtered.csv', header=False)

# Display the result
display(pd.concat([transposed_df.head(50)]))

C:\Users\BGROSS\AppData\Local\Temp\ipykernel_3436\1131051339.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renter_df['Label (Grouping)'] = renter_df['Label (Grouping)'].str.strip()
C:\Users\BGROSS\AppData\Local\Temp\ipykernel_3436\1131051339.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[col] = filtered_df[col].apply(lambda x: int(x.replace(',', '')) if isinstance(x, str) else x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
COUNTY,Occupied rental housing units,"Less than $5,000","$5,000 to $9,999","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more","$35,000 to $49,999","$50,000 to $74,999",TotalBelow25000,"Percentage under 24,999"
NEW JERSEY,"1,244,971","66,661","46,056","81,661","66,926","60,494","117,830","149,005","216,411","146,478","157,918","135,531","144,099","211,793","1,600,863",129
ATLANTIC,"37,101","2,842","1,435","3,289","3,238","3,156","5,426","4,369","5,300","3,148","2,836","2,062","3,945","4,990","46,036",124
BERGEN,"117,928","6,936","3,683","4,251","4,934","4,158","10,165","12,493","23,789","14,736","18,145","14,638","11,946","23,108","152,982",130
BURLINGTON,"39,718","2,275","1,309","2,076","1,488","1,817","4,755","5,078","6,645","6,087","4,992","3,196","4,839","6,383","50,940",128
CAMDEN,"69,773","3,730","4,021","4,836","4,905","3,924","7,218","9,570","13,266","6,410","8,302","3,591","9,098","12,808","91,679",131
CAPE MAY,"10,697",443,417,"1,072",430,"1,029","1,969","1,324","1,712","1,154",804,343,"1,062","1,331","13,090",122
CUMBERLAND,"18,617","1,370",832,"2,043",878,"1,389","3,218","2,624","3,790","1,699",329,445,"2,379","3,754","24,750",133
ESSEX,"178,779","12,895","9,138","13,239","14,079","9,479","16,942","22,714","34,325","17,562","16,616","11,790","22,615","34,049","235,443",132
GLOUCESTER,"21,823","1,043",565,"2,299","1,767","1,129","2,132","2,472","3,879","2,430","1,992","2,115","2,369","3,879","28,071",129
HUDSON,"197,833","9,202","5,672","14,455","9,013","7,556","14,089","18,478","28,282","23,775","28,725","38,586","18,204","28,101","244,138",123
HUNTERDON,"6,720",234,52,163,569,590,356,840,931,"1,500",796,689,840,931,"8,491",126
MERCER,"53,149","4,081","2,087","3,806","2,203","1,711","4,798","6,434","10,118","6,456","6,631","4,824","6,361","9,985","69,495",131
MIDDLESEX,"108,654","4,155","2,772","5,868","4,378","4,793","7,774","12,068","17,016","14,579","21,760","13,491","11,435","16,607","136,696",126
MONMOUTH,"60,833","3,212","2,173","4,204","2,866","4,091","6,916","7,336","8,872","5,803","7,988","7,372","7,151","8,719","76,703",126
MORRIS,"47,546","1,227",769,"1,899","1,383","2,093","3,789","6,221","7,091","8,216","6,876","7,982","5,713","7,055","60,314",127
OCEAN,"46,943","3,156","1,682","2,439","4,016","1,631","5,609","6,584","8,234","6,433","4,124","3,035","6,469","7,936","61,348",131
PASSAIC,"84,904","4,027","3,663","7,732","4,851","4,694","9,289","11,586","15,829","7,807","9,262","6,164","11,210","15,545","111,659",132
SALEM,"7,036",372,743,698,598,441,661,741,"1,473",530,607,172,726,"1,450","9,212",131
SOMERSET,"30,397",972,868,"1,003",800,751,"1,259","5,052","4,977","4,418","5,632","4,665","4,898","4,944","40,239",132
SUSSEX,"7,814",277,172,510,612,534,549,"1,185","1,211","1,178",316,"1,270","1,185","1,153","10,152",130
UNION,"86,372","3,137","2,965","4,699","3,111","4,663","9,788","10,494","18,219","11,044","9,805","8,447","10,346","17,613","114,331",132
WARREN,"12,334","1,075","1,038","1,080",807,865,"1,128","1,342","1,452","1,513","1,380",654,"1,308","1,452","15,094",122