permits 
what does the housing look like
1:5 rule, what does a new block look like
consider a local example, or focusing on 1 county
section 8 vouchers

In [6]:
import pandas as pd
import glob


# Set the maximum number of columns to display to a large number (e.g., 100)
pd.set_option('display.max_columns', 100)

# set display options to show all rows
pd.set_option('display.max_rows', None)

# Define the path to the directory containing the Excel files
path = r'source files'

# Get a list of file names in the directory that end with .xlsx
file_list = glob.glob(path + "/*.xlsx")

# Create an empty list to hold the DataFrames
df_list = []

# Loop over the file names and read each file into a DataFrame
for file in file_list:
    df = pd.read_excel(file, header=1)
    df = df.dropna(axis=1, how='all')
    df = df[~df['o'].isin([0.1,0.2, 0.3])]


    df['units'] = pd.to_numeric(df['units'], errors='coerce')
    df_list.append(df)

# Concatenate the DataFrames into a single DataFrame
combined_df = pd.concat(df_list)

# Group the data by the "comu" column and sum the "unit" values
sum_by_comu = combined_df.groupby('comu')['units'].sum()

# Create a new DataFrame with the summed values
result_df = pd.DataFrame({'comu': sum_by_comu.index.astype(int), 'total_unit': sum_by_comu.values})


result_df.head(10)

   comu  total_unit
0   101       403.0
1   102      4813.0
2   103        13.0
3   104       238.0
4   107       327.0
5   108       472.0
6   111       549.0
7   112       213.0
8   113       176.0
9   114         5.0

In [8]:
combined_df.head(10)

,o,seq,ltd,source,proj_no,pro_no_2,Unnamed: 7,development / aka,aka,street,street_2,municipality,muni_2,county,comu,comu_2,st,zip,type,tenure,units,property,ph_srce,area,phone,agent,agent address,area_2,phone_2,website,program,date,seq.1,Unnamed: 6,Unnamed: 12,notes,proj_no2,projj_no2,Unnamed: 34,ST,proj_no_2
2,1.0,NaN,NaN,NaN,NaN,NaN,Abescon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,30001.0,NaN,HUD,NJ39Q971009,035HD084,NaN,Absecon consumer group home,NaN,intentional blank,NaN,Absecon,Absecon,Atlantic,101.0,101.0,NJ,8201.0,special,rent,3.0,Absecon group home,NaN,(732),780-1175,Collaborative Support Programs of NJ,"11 Spring St, Freehold 08977",(908),272-5365,CSPNJ,Section 202,NaT,30001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,30002.0,NaN,HUD,NJ39Q081006,035HD069,NaN,Caring group home (2008),NaN,intentional blank,NaN,Absecon,Absecon,Atlantic,101.0,101.0,NJ,8201.0,special,rent,8.0,Caring Inc group home,NaN,(609),484-7050,Caring Inc,"407 W Delilah Rd, Pleasantville 08232",(609),677-0022,Home (caringinc.net),Section 202,NaT,30002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,30003.0,NaN,HUD,NJ39Q101004,035HD074,NaN,Caring group home (2010),NaN,intentional blank,NaN,Absecon,Absecon,Atlantic,101.0,101.0,NJ,8201.0,special,rent,8.0,Caring Inc group home,NaN,(609),484-7050,Caring Inc,"407 W Delilah Rd, Pleasantville 08232",(609),677-0022,Home (caringinc.net),Section 202,NaT,30003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5.0,20001.0,NaN,tax credit,010109937,NaN,NaN,Clayton Mill Run Apts,5 bldgs; facility id 010109937,600 Rose Hill Dr,101-14 Rose Hill Dr,Absecon,Absecon,Atlantic,101.0,101.0,NJ,8201.0,family,rent,360.0,Clayton Mill Run,NaN,(609),385-2745,Conifer Realty,"20000 Horizon Way, ste 180, Mount Laurel 08054",(856),793-2078,Clayton Mill Run - Conifer Realty LLC (conifer...,tax credit / MtL,NaT,20001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6.0,30005.0,NaN,HUD,NJ39RDD1317,NaN,NaN,Visions at Absecon Family & Senior Apts,1 bldg; 24 du,3 School View Dr,NaN,Absecon,Abescon,Atlantic,101.0,101.0,NJ,8201.0,age,rent,24.0,Visions at Absecon Family & Senior Apts,NaN,(732),780-8314,D & M Property Mgt,"655 Park Av, Freehold 07728",NaN,NaN,NaN,NaN,NaT,30005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7.0,NaN,NaN,NaN,NaN,NaN,Atlantic City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8.0,10001.0,NaN,PHA,NJ014,NaN,NaN,Atlantic City Housing Authority,NaN,227 N Vermont Av,NaN,Atlantic City,NaN,Atlantic,102.0,102.0,NJ,8401.0,NaN,NaN,NaN,NaN,NaN,(609),344-1107,Atlantic City Housing Authority,"227 N Vermont Av, Atlantic City 08401",(609),344-1107,"Welcome to Atlantic City Housing Authority, NJ...",Public Housing,2022-01-12 00:00:00,10001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9.0,90001.0,NaN,MtL,NaN,NaN,NaN,334 N Tennesee Av Apts,NaN,334 N Tennesee Av,NaN,Atlantic City,NaN,Atlantic,102.0,102.0,NJ,8401.0,family,rent,8.0,Tennesee Av Apts,whte_pgs,(609),348-4131,Atlantic Human Resources Inc,"1 S NY Av; Ste 303, Atlantic City 08401",(609),348-3188,NaN,MtL,NaT,90001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10.0,20002.0,NaN,tax credit,NJA20123008,LITC #302,NaN,46 N Connecticut Av Apts,NaN,46 N Connecticut Av,NaN,Atlantic City,Atlantic City,Atlantic,102.0,102.0,NJ,8401.0,family,rent,13.0,Connecticut Av Apts,NaN,(609),748-1034,Galloway Mgt Services,NaN,(609),233-6942,NaN,tax credit,NaT,20002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Group the DataFrame by the 'source' column and calculate the sum of the 'units' column for each group
grouped_units = combined_df.groupby('source')['units'].sum()

# Print the resulting Series
print(grouped_units)

# Calculate and print the total units across all groups
total_units = grouped_units.sum()
print("Total units across all groups:", total_units)

source
HMFA          57633.0
HUD           25240.0
MtL           61839.0
PHA           39302.0
USDA           2062.0
hmfa             12.0
tax credit    17926.0
Name: units, dtype: float64
Total units across all groups: 204014.0